.res-card-content{
    width: 200px;
    max-width: 200px;

    min-height: 50px;
    max-height: 50px;

    border: 1px solid rgb(47, 82, 153);
    text-align: center;
}








































/*
//algo de configuracion para primeng table
:host ::ng-deep .myTable.p-datatable .p-datatable-thead > tr > th {
    background: rgb(32,55,100);
    text-align: center;
    color: white;
    padding: 5px;
}

:host ::ng-deep .myTable.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    padding: 2px;
    width: 124px;
}

:host ::ng-deep .myTable.p-datatable .p-datatable-scrollable-header-box {
    padding-right: 0px !important;
}

:host ::ng-deep .myTable.p-component{
    font-size: 14px;
}

#ca{
    background: white;
    border-width: 0px 1px 1px 1px;
}

#cb{
    background-color:rgb(68,114,196);
}

#cc,#cd{
    background-color: rgb(189,215,238);
    color: black;
}*/