<div fxFill fxLayout="column" class="base">
    <div fxFlex="8" class="text-title" fxLayout="row" fxLayoutAlign="center center" style="padding-bottom: 5px;">
        <div><span>Calculadora</span></div>
        <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center" style="padding-bottom: 10px;">
            <button mat-raised-button class="stg-btn-short-d" (click)="calc()">
                <span class="material-icons icon">play_arrow</span>
            </button>
            <button mat-raised-button class="stg-btn-short-d" (click)="rest()">
                <span class="material-icons icon">refresh</span>
            </button>
            <button mat-raised-button class="stg-btn-short-d" (click)="navMain()">
                <span class="material-icons icon">home</span>
            </button>
        </div>
    </div>

    <!--<div fxFlex="10" fxLayout="row" fxLayoutGap="10px" class="text-name">
        <div fxFlex fxLayout="column">
            <div><span class="st">Analista:</span></div>
            <div><span>{{prof.name}}</span></div>
        </div>
    </div>-->
    <div fxFlex fxLayout="column">
        <table class="table" cellspacing="0">
            <!--<tr class="header" style="text-align: center;">
                <th colspan="2"></th>
                <th colspan="2">Bono</th>
            </tr>-->
            <tr class="header">
                <th class="ff">Cierre</th>
                <th class="ff">Meta</th>
                <th class="fn" style="text-align: center;">B. Base</th>
                <th class="fn" style="text-align: center;">B. Plus</th>
            </tr>
            <ng-container *ngIf="config.prof_typ==1">
                <tr>
                    <td class="ftf" colspan="4">Var. Real Cartera</td>
                </tr>
                <tr>
                    <td class="ff"><input class="stg-input" matInput value="{{config.var_sal}}"
                            (keyup)="param($event,'var_sal')"></td>
                    <td class="fn">S/. {{config.sal_met | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_sal | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_sal | number:'.0-2'}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="config.prof_typ==2">
                <tr>
                    <td class="ftf" colspan="4">Var. Grupos Stock</td>
                </tr>
                <tr>
                    <td class="ff"><input class="stg-input" matInput value="{{config.var_gru}}"
                            (keyup)="param($event,'var_gru')"></td>
                    <td class="fn">{{config.gru_met | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_gru | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_gru | number:'.0-2'}}</td>
                </tr>
            </ng-container>
            <tr>
                <td class="ftf" colspan="4">Var. Real Clientes</td>
            </tr>
            <tr>
                <td class="ff"><input class="stg-input" matInput value="{{config.var_cli}}"
                        (keyup)="param($event,'var_cli')"></td>
                <td class="fn">{{config.cli_met | number:'.0-2'}}</td>


                <ng-container *ngIf="config.prof_typ==1">
                    <td class="fn">S/. {{config.bon_cli | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_cli | number:'.0-2'}}</td>
                </ng-container>
                <ng-container *ngIf="config.prof_typ==2">
                    <td class="fn">S/. {{config.bon_clig | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_clig | number:'.0-2'}}</td>
                </ng-container>
            </tr>
            <ng-container *ngIf="config.prof_typ==1">
                <tr>
                    <td class="ftf" colspan="4">Efectividad -30 a 0</td>
                </tr>
                <tr>
                    <td class="ff"><input [class]="inCls()" [disabled]="!config.edit_vm" matInput
                            value="{{config.efec1_cie}}" (keyup)="param($event,'efec1_cie')"></td>
                    <td class="fn">{{config.efec1_met | percent:'.2-2'}}</td>
                    <td class="fn">S/. {{config.bon_efe1 | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_efe1 | number:'.0-2'}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="config.prof_typ==2">
                <tr>
                    <td class="ftf" colspan="4">Pagos Puntuales</td>
                </tr>
                <tr>
                    <td class="ff"><input [class]="inCls()" matInput value="{{config.av_ppun}}"
                            (keyup)="param($event,'av_ppun')"></td>
                    <td class="fn">{{config.ppun_met | percent:'.2-2'}}</td>
                    <td class="fn">S/. {{config.bon_ppun| number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_ppun | number:'.0-2'}}</td>
                </tr>
            </ng-container>
            <tr>
                <td class="ftf" colspan="4">Efectividad 1 a 30</td>
            </tr>
            <tr>
                <td class="ff"><input [class]="inCls()" [disabled]="!config.edit_vm" matInput
                        value="{{config.efec2_cie}}" (keyup)="param($event,'efec2_cie')"></td>
                <td class="fn">{{config.efec2_met | percent:'.2-2'}}</td>
                <ng-container *ngIf="config.prof_typ==1">
                    <td class="fn">S/. {{config.bon_efe2 | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_efe2 | number:'.0-2'}}</td>
                </ng-container>
                <ng-container *ngIf="config.prof_typ==2">
                    <td class="fn">S/. {{config.bon_efe2g | number:'.0-2'}}</td>
                    <td class="fn">S/. {{config.bon_p_efe2g | number:'.0-2'}}</td>
                </ng-container>
            </tr>
            <tr class="foot">
                <td class="ff" colspan="2">Totales:</td>
                <td class="fn">S/. {{bon_tot | number:'.0-2'}}</td>
                <td class="fn">S/. {{bon_p_tot | number:'.0-2'}}</td>
            </tr>
            <tr class="header">
                <th class="ff" colspan="4">Bono Super Plus</th>
            </tr>
            <ng-container *ngIf="config.prof_typ==1">
                <tr>
                    <td class="ftf">Tasa Mes</td>
                    <td class="ftn">Tasa Mínima</td>
                    <td class="ftn">Diferencial</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="ff"><input class="stg-input" matInput value="{{config.tasa_mes}}"
                            (keyup)="param($event,'tasa_mes')"></td>
                    <td class="fn"><input class="stg-input" matInput value="{{config.tasa_min}}"
                            (keyup)="param($event,'tasa_min')"></td>
                    <td class="fn">{{config.tasa_dif | number:'.0-0'}} pbs</td>
                    <td class="fn">S/. {{config.bon_s_tas | number:'.0-2'}}</td>
                </tr>
                <tr>
                    <td class="ftf" colspan="4">Clientes Bancarizados</td>
                </tr>
                <tr>
                    <td class="ff" colspan="3"></td>
                    <td class="fn">S/. {{config.bon_s_cli | number:'.0-2'}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="config.prof_typ==2">
                <!-- <tr>
                    <td class="ftf" colspan="4">Asistencia a Reunión</td>
                </tr>
                <tr>
                    <td class="ff"><input class="stg-input" matInput value="{{config.asis}}"
                            (keyup)="param($event,'asis')"></td>
                    <td class="fn" colspan="2"></td>
                    <td class="fn">S/. {{config.bon_s_arg | number:'.0-2'}}</td>
                </tr> -->
                <tr>
                    <td class="ftf" colspan="4">Asistencia a Reuniones</td>
                </tr>
                <tr>
                    <td class="ftf">Programadas</td>
                    <td class="ftn">Ejecutadas</td>
                    <td class="ff" colspan="2"></td>
                </tr>
                <tr>
                    <td class="ff"><input class="stg-input in-dis" matInput value="{{config.arg_ini}}" disabled="true"></td>
                    <td class="fn"><input class="stg-input" matInput value="{{config.arg_cie}}"
                            (keyup)="param($event,'arg_cie')"></td>
                    <td class="fn"></td>
                    <td class="fn">S/. {{config.bon_s_arg | number:'.0-2'}}</td>
                </tr>




                <tr>
                    <td class="ftf" colspan="4">Tamaño de Grupo</td>
                </tr>
                <tr>
                    <td class="ff"><input class="stg-input" matInput value="{{config.t_gru}}"
                            (keyup)="param($event,'t_gru')"></td>
                    <td class="fn" colspan="2"></td>
                    <td class="fn">S/. {{config.bon_s_t_gru | number:'.0-2'}}</td>
                </tr>
            </ng-container>

            <tr class="foot f">
                <td class="ff" colspan="3">Final:</td>
                <td class="fn">S/. {{bon_f_tot | number:'.0-2'}}</td>
            </tr>
        </table>
    </div>

</div>