.sec-title{
    background: #4E8AB5;
    color: white;
}

.cab{
    font-weight: bold;
}
.alert-warn{
    background: #FFF9E6;
}

.alert-box{
    border-top: 1px solid #e9e9ef;
    padding: 10px;
    color: black;
    font-weight: 500;
}