@import "../../../../assets/styles/scss/spinners/spinners";

.block-title{
    font-weight: bold;
    font-size: 16px;
    height: 32px;
}

.alert-warn{
    background: #FFF9E6;
}

.alert-box{
    border-top: 1px solid #e9e9ef;
    padding: 10px;
    color: black;
    font-weight: 500;
}

.spinner07{
    @include loader07($size: 6px);
    margin-left: 10px;
}