<div fxLayout="row" class="punt-comp">
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Ene-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span>{{config.hist[0]}}</span></div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Feb-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span>{{config.hist[1]}}</span></div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Mar-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span>{{config.hist[2]}}</span></div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Abr-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span>{{config.hist[3]}}</span></div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>May-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center"fxFlex class="punt-item"><span>{{config.hist[4]}}</span></div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>jun-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span>{{config.hist[5]}}</span></div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Jul-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span></span>{{config.hist[6]}}</div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Ago-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span></span>{{config.hist[7]}}</div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Sep-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span></span>{{config.hist[8]}}</div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Oct-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span></span>{{config.hist[9]}}</div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Nov-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span></span>{{config.hist[10]}}</div>
    </div>
    <div fxFlex="7.6" fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Dic-{{config.anio}}</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item"><span></span>{{config.hist[11]}}</div>
    </div>
    <div fxFlex fxLayout="column">
        <div fxLayoutAlign="center center" fxFlex="50" class="punt-cab"><span>Puntaje</span></div>
        <div fxLayoutAlign="center center" fxFlex class="punt-item" style="font-weight: bold;"><span></span>{{config.hist[12]}}</div>
    </div>
</div>