.session-loader {
    width: 100%;
    height: 100%;
    background-color: #1d396e;
}

.wait-logo {
    width: 140px;
    height: auto;
}

.loader-text {
    color: white;
    font-size: 14px;
    font-weight: 500;
}
