 <!-- <div >
    <swiper slidesPerView=2 [pagination]="{ clickable: true }" [navigation]="true" effect="coverflow"
    [coverflowEffect]="{rotate:0,stretch:20}" centeredSlides=true>

        <ng-template swiperSlide> 
            <img src="assets/images/fc/ads/Comunicado.png" alt="" style="cursor: pointer;" >
        </ng-template>
        <ng-template swiperSlide> 
            <img src="assets/images/fc/ads/Comunicado.png" alt="" style="cursor: pointer;" >
        </ng-template>
  
    
    </swiper>
</div>  -->
<!--
<img src="assets/images/fc/ads/Comunicado.png" alt="" style="width: 550px;height: 480;;cursor: pointer;" >
 
<img src="assets/images/fc/ads/Comunicado.png" alt="" style="width: 800px;cursor: pointer;"   (click)="goToLink('https://drive.google.com/file/d/1F1w6zx8NqYVluMQzhbV-gmjK-AIw1xgu/view?usp=sharing')">

 -->


 <!--- POPUP -->
 <div >
    
    <div mat-dialog-content fxLayoutAlign="center center" fxLayout="column" class="PopUpDiv" >

        <img src="assets/images/fc/ads/Comunicado.png" alt="" style="cursor: pointer;" >
 
    </div>
</div>