<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" style="padding-top: 5px;">
    <div fxFlex.gt-sm fxFill>
        <div fxFlex="50" fxLayoutAlign="start center" style="color: rgba(0,0,0,.54);font-size: 12px;">
            <span style="padding-left: 5px;">Total: {{totalLenght}}</span>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center" style="color: rgba(0,0,0,.54);font-size: 12px;">
            <span style="padding-right: 5px;">Tamaño de página: {{pageLenght}}</span>
        </div>
    </div>
    <div fxFill.lt-md fxLayoutAlign="end center" fxLayoutGap="10px">
        <div style="color: rgba(0,0,0,.54);font-size: 12px;"><span>Página: {{currentPage}} de {{maxPage}}</span></div>
        <div style="font-size: 12px;">
            <button mat-button color="primary" [disabled]="disableFirst" (click)="firstPage()"
                style="min-width: 36px;width: 36px;padding: 0px;">
                <span class="material-icons" style="font-size: 12px;">
                    keyboard_double_arrow_left
                </span>
            </button>
            <button mat-button color="primary" [disabled]="disablePrevious" (click)="previousPage()"
                style="min-width: 36px;width: 36px;padding: 0px;">
                <span class="material-icons" style="font-size: 12px;">
                    arrow_back_ios
                </span>
            </button>
            <button mat-button color="primary" [disabled]="disableNext" (click)="nextPage()" style="min-width: 36px;width: 36px;padding: 0px;">
                <span class="material-icons" style="font-size: 12px;">
                    arrow_forward_ios
                </span>
            </button>
            <button mat-button color="primary" [disabled]="disableLast" (click)="lastPage()" style="min-width: 36px;width: 36px;padding: 0px;">
                <span class="material-icons" style="font-size: 12px;">
                    keyboard_double_arrow_right
                </span>
            </button>
        </div>
    </div>

</div>