<div id="start-menu">
    <mat-card class="">
        <div>
            <mat-card-header>
                <mat-icon mat-card-avatar style="font-size: 28px;">account_circle</mat-icon>
                <mat-card-title>Menú</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-nav-list style="padding: 0px;">
                    <ng-container *ngFor="let item of menuItems; let i = index">
                        <!--routerLinkActive="list-item-active"-->
                        <stg-hover-menu *ngIf="item.type==='dropDown'" [childs]="item.sub">
                            <mat-list-item class="no-rpad" trigger [routerLink]="item.state?item.state:null">
                                <mat-icon>{{item.icon}}</mat-icon>
                                <div fxFlex class="adj-name">{{item.name}}</div>
                                <mat-icon class="dd-icon">play_arrow</mat-icon>
                            </mat-list-item>
                        </stg-hover-menu>
                        <mat-list-item *ngIf="item.type!=='dropDown'" class="no-rpad"
                            style="font-size: 12px;height: 32px;" [routerLink]="item.state">
                            <mat-icon>{{item.icon}}</mat-icon>
                            <div fxFlex style="margin-left: 10px;">{{item.name}}</div>
                        </mat-list-item>
                    </ng-container>
                </mat-nav-list>
                <mat-divider></mat-divider>
            </mat-card-content>
        </div>
    </mat-card>
</div>