<div id="start-menu">
    <mat-card class="">
        <div>
            <mat-card-header>
                <mat-icon mat-card-avatar style="font-size: 28px;">apps</mat-icon>
                <mat-card-title>Menú</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row">
                    <div fxFlex>
                        <mat-nav-list style="padding: 0px;">
                            <ng-container *ngFor="let item of menuItems; let i = index">
                                <!--routerLinkActive="list-item-active"-->
                                <stg-hover-menu *ngIf="item.type==='dropDown'" [childs]="item.sub">
                                    <mat-list-item class="no-rpad" trigger [routerLink]="item.state?item.state:null">
                                        <mat-icon>{{item.icon || 'folder'}}</mat-icon>
                                        <div fxFlex class="adj-name">{{item.name}}</div>
                                        <mat-icon class="dd-icon">play_arrow</mat-icon>
                                    </mat-list-item>
                                </stg-hover-menu>
                                <mat-list-item *ngIf="item.type!=='dropDown'" class="no-rpad"
                                    style="font-size: 12px;height: 32px;" [routerLink]="item.state">
                                    <mat-icon>{{item.icon || 'assessment'}}</mat-icon>
                                    <div fxFlex style="margin-left: 10px;">{{item.name}}</div>
                                </mat-list-item>
                            </ng-container>
                        </mat-nav-list>
                    </div>
                    <mat-list fxLayout="column" fxLayoutGap="5px" fxFlex="0 0 200px"
                        style="border-left-style: groove;padding: 5px;">
                        <button mat-stroked-button style="font-size: 12px;" *ngIf="!user.isAlt"
                            [disabled]="admin.disableAltUserBtn()" fxLayoutAlign="start center"
                            (click)="admin.openAltUserDialog()">
                            <mat-icon>people_alt</mat-icon>
                            <span style="padding-left: 10px;">Cambiar Usuario</span>
                        </button>
                        <button mat-stroked-button style="font-size: 12px;" *ngIf="user.isAlt"
                            (click)="login.onOriLogin()" fxLayoutAlign="start center">
                            <mat-icon>person</mat-icon>
                            <span style="padding-left: 10px;">Mi Usuario</span>
                        </button>
                    </mat-list>
                </div>
                <mat-divider></mat-divider>
            </mat-card-content>
        </div>
    </mat-card>
</div>