.desktop-base{
    //background-color: green;
    padding-left: 30px; 
    padding-top: 30px;
    padding-right: 30px;
    //height: calc(100vh - 48px);
    //height: 300px;
}

.shortcut-base{
    //background-color: green;
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    cursor: pointer;
}

.shortcut-text{
    padding: 5px;
    color: rgb(87, 87, 87);
    //max-height: 12px;
    font-size: 12px;
}

.shortcut-base:hover {
    text-decoration: underline;
    color: white;
}

.shortcut-icon{
    font-size: 48px;
    color: rgb(87, 87, 87);
}