<div fxLayout="column" fxFill class="base">
    <div *ngIf="!layout.isMobile && !loading" fxLayout="column" fxFill>
        <div fxLayout="row" style="height: 115px;">
            <div fxLayoutAlign="center start" fxLayout="column">
                <img src="assets/images/fc/modules/kaypacha/kaypacha_logo.png" style="height: 88px;">
                <div fxFlex style="padding-left: 15px;font-weight: bold;"><span>ASESOR: {{cabeceraConfig.nombre}}</span></div>
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="start center">
                <div fxLayoutAlign="center center">
                    <img src="assets/images/fc/modules/kaypacha/copa.jpg" style="height: 115px;">
                </div>
                <div fxLayoutAlign="center center">
                    <img src="assets/images/fc/modules/kaypacha/personas.png" style="height: 115px;">
                </div>
                <div>
                    <mat-card class="pos-card" fxLayout="column" fxLayoutAlign="center center">
                        <span>Posición</span>
                        <span style="font-size: 28px; font-weight: bold;">{{cabeceraConfig.posicion}}</span>
                    </mat-card>
                </div>
                <div>
                    <button *ngIf="cabeceraConfig.boton" mat-button color="primary" class="bus-bot" (click)="openSearch()">
                        <span class="material-icons" style="font-size: 36px;">
                            switch_account
                        </span>
                    </button>
                </div>
            </div>
            <div fxLayoutAlign="center center">
                <img src="assets/images/fc/modules/kaypacha/fc.png" style="height: 115px; width: 190px;">
            </div>
        
        </div>
        <div fxFlex fxLayout="column" style="padding-top: 10px;">
            <div fxLaout="row" >
                <div>
                    <app-preguntas-kaypacha [config]="preguntasConfig"></app-preguntas-kaypacha>
                </div>
                <div fxFlex fxLayout="column">
                    <div>
                        <app-puntaje-kaypacha [config]="puntajeConfig"></app-puntaje-kaypacha>
                    </div>
                    <div fxFlex style="padding-top: 12px;">
                        <app-desempenio-kaypacha [config]="desempenioConfig"></app-desempenio-kaypacha>
                    </div>
                </div>
            </div>
            <div fxFlex>
                <div style="max-height: 278px;height: 100%;">
                    <div fxFlex >
                        <app-dinamizadores-kaypacha [config]="dinamizadoresConfig"></app-dinamizadores-kaypacha>
                    </div>
                    <div fxFlex="40">
                        <app-bonos-kaypacha [config]="bonosConfig"></app-bonos-kaypacha>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!layout.isMobile && loading" fxLayout="column" fxFill fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/images/fc/avatars/mis_wait.png" alt="" style="width: 120px;height: 120px;">
        <div><span>Cargando...</span></div>
    </div>
    <div *ngIf="layout.isMobile" fxLayout="column" fxFill fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/images/fc/avatars/kaypacha1.png" alt="" style="width: 240px;height: 300px;">
        <span style="text-align: center;">Por el momento el módulo solo se puede visualizar correctamente en una PC/laptop.</span>
        <!--<span style="text-align: center;">Pronto estará disponible la vista móvil. Gracias por su comprensión.</span>-->
    </div>
</div>