<div class="header-with-date" *ngIf="showTitle && title">
    <div class="header-title">{{ title }}</div>
    <div style="padding-right: 10px; padding-left: 10px;">
      <div class="date-selector-header" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayoutGap="10">
          <div class="custom-select-container" #dropdownContainer>
            <div class="date-trigger" 
                 [class.open]="isDropdownOpen" 
                 [class.disabled]="disabled"
                 (click)="toggleDropdown($event)">
              <span class="select-icon">
                <i class="material-icons" style="color: white;">{{ icon }}</i>
              </span>
              <div class="select-content"> 
                <span class="select-value">{{ selectedItem?.label || placeholder }}</span>
              </div>
              <span class="select-arrow">▼</span>
            </div>
            
            <div class="custom-select-dropdown" [class.open]="isDropdownOpen"> 
              <div class="select-options">
                <div class="select-option" 
                     *ngFor="let item of items"
                     [class.selected]="selectedItem?.val === item.val"
                     (click)="selectItem(item, $event)">
                  <span class="select-icon">
                    <i class="material-icons">{{ icon }}</i>
                  </span>
                  <span class="option-text">{{ item.label }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Versión sin header para uso inline -->
  <div class="custom-select-container" #dropdownContainer *ngIf="!showTitle || !title">
    <div class="date-trigger" 
         [class.open]="isDropdownOpen" 
         [class.disabled]="disabled"
         (click)="toggleDropdown($event)">
      <span class="select-icon">
        <i class="material-icons">{{ icon }}</i>
      </span>
      <div class="select-content"> 
        <span class="select-value">{{ selectedItem?.label || placeholder }}</span>
      </div>
      <span class="select-arrow">▼</span>
    </div>
    
    <div class="custom-select-dropdown" [class.open]="isDropdownOpen"> 
      <div class="select-options">
        <div class="select-option" 
             *ngFor="let item of items"
             [class.selected]="selectedItem?.val === item.val"
             (click)="selectItem(item, $event)">
          <span class="select-icon">
            <i class="material-icons">{{ icon }}</i>
          </span>
          <span class="option-text">{{ item.label }}</span>
        </div>
      </div>
    </div>
  </div>