<div fxFill fxLayout="column" class="content" fxLayoutGap="5px">
    <div class="lbl"><span>Indicadores de Avance</span></div>
    <div fxFlex fxLayoutAlign="space-around center" fxLayoutGap="1rem">
        <ng-container *ngFor="let item of config.blocks">
            <div *ngIf="item.show" [style]="blockSize" class="block" fxLayoutAlign="start center" fxLayout="column">
                <div fxFlex="50" style="width: 100%;">
                    <div style="float: left;position: relative;width: 100%;height: 100%;">
                        <highcharts-chart style="width: 100%;height: 100%;min-height: 110px;position:absolute;"
                            [Highcharts]="Highcharts" [options]="config.pieCfg">
                        </highcharts-chart>
                    </div>
                </div>
                <div fxFlex style="width: 100%;" fxLayout="column" fxLayoutAlign="center center">
                    <div class="av-lbl">
                        <span>{{item.lbl}}</span>
                    </div>
                    <div fxFlex style="width: 100%;" fxLayoutAlign="center start">
                        <table class="av-tbl">
                            <tbody>
                                <tr><td>Anterior:</td><td>{{item.tbl.ant}}</td></tr>
                                <tr><td>Actual:</td><td>{{item.tbl.act}}</td></tr>
                                <tr><td>Variación:</td><td>{{item.tbl.var}}</td></tr>
                                <tr><td>Meta:</td><td>{{item.tbl.met}}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>