<div class="header-topnav mat-elevation-z2">
  <div class="container">
    <div class="topnav">
      <!-- Sidebar header: brand/title, aligned to the sidebar's width when a module is open -->
      <div class="topbar-branding" [ngStyle]="{width: moduleSidenav.active ? '245px' : '220px', display: 'flex', 'justify-content': 'center'}">
        <button class="btn-start-adj btn-start-mob" mat-icon-button (click)="toggleSidenav()"
          *ngIf="layoutConf.isMobile">
          <img style="width: 36px;height: 24px;" src="assets/images/fc/logos/mis_white.png" alt="" class="app-logo">
        </button>
        <div class="system-brand tour-start-menu-btn" *ngIf="!layoutConf.isMobile && moduleSidenav.active">
          <img style="height: 40px;width: auto;" src="assets/images/fc/logos/fc_blank.png" alt="" class="app-logo">
        </div>
        <app-module-switcher class="tour-start-menu-btn" [iconOnly]="true" *ngIf="!layoutConf.isMobile && !moduleSidenav.active"></app-module-switcher>
      </div>

      <!-- Module sidenav toggle (reportes/actividades/corresponsales/presupuesto): sits right at the border between the sidebar header and the layout header -->
      <div style="margin-left: -20px;" *ngIf="moduleSidenav.active">
        <button mat-icon-button class="module-sidenav-toggle-btn" matTooltip="Mostrar/ocultar menú" (click)="moduleSidenav.toggle()">
          <mat-icon>{{ moduleSidenav.isOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
        </button>
      </div>

      <!-- Desktop/home icon: left side, right after the sidebar toggle -->
      <div style="padding-left: 5px;padding-top: 5px;" *ngIf="!isDesktopHome">
        <button mat-icon-button matTooltip="Ir al inicio" class="desktop-icon-btn" (click)="showDesktop()">
          <mat-icon>desktop_windows</mat-icon>
        </button>
      </div>

      <span fxFlex></span>

      <!--<ul class="menu" *ngIf="!layoutConf.isMobile">
        <li *ngFor="let item of menuItems; let i = index;">
          <div *ngIf="item.type !== 'separator'" routerLinkActive="open">
            <a matRipple routerLink="/{{item.state}}" *ngIf="item.type === 'link'">
              <mat-icon>{{item.icon}}</mat-icon>
              {{item.name | translate}}
            </a>
            <div *ngIf="item.type === 'dropDown'">
              <label matRipple for="drop-{{i}}" class="toggle">
                <mat-icon>{{item.icon}}</mat-icon> {{item.name}}
              </label>
              <a matRipple>
                <mat-icon>{{item.icon}}</mat-icon> {{item.name}}
              </a>
              <input type="checkbox" id="drop-{{i}}" />
              <ul>
                <li *ngFor="let itemLvL2 of item.sub; let j = index;" routerLinkActive="open">
                  <a matRipple routerLink="{{item.state ? '/'+item.state : ''}}/{{itemLvL2.state}}"
                    *ngIf="itemLvL2.type !== 'dropDown'">
                    <mat-icon *ngIf="itemLvL2.icon">{{itemLvL2.icon}}</mat-icon>
                    {{itemLvL2.name}}
                  </a>

                  <div *ngIf="itemLvL2.type === 'dropDown'">
                    <label matRipple for="drop-{{i}}{{j}}" class="toggle">{{itemLvL2.name}}</label>
                    <a matRipple>
                      <mat-icon *ngIf="itemLvL2.icon">{{itemLvL2.icon}}</mat-icon> {{itemLvL2.name}}
                    </a>
                    <input type="checkbox" id="drop-{{i}}{{j}}" />
                    //----- Level 3 ---//
                    <ul>
                      <li *ngFor="let itemLvL3 of itemLvL2.sub" routerLinkActive="open">
                        <a matRipple
                          routerLink="{{item.state ? '/'+item.state : ''}}{{itemLvL2.state ? '/'+itemLvL2.state : ''}}/{{itemLvL3.state}}">
                          <mat-icon *ngIf="itemLvL3.icon">{{itemLvL3.icon}}</mat-icon>
                          {{itemLvL3.name}}
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <span fxFlex></span>
       End Navigation -->

      <!-- App Logo
      <div class="topbar-branding">
        <img src="assets/images/fc/inicio.png" alt="" class="app-logo">
      </div>-->

      <!-- Language Switcher
      <mat-select *ngIf="!layoutConf.isMobile" placeholder="" id="langToggle" [style.width]="'auto'" name="currentLang"
        [(ngModel)]="currentLang" (selectionChange)="setLang()" class="topbar-button-right">
        <mat-option *ngFor="let lang of availableLangs" [value]="lang.code" ngDefaultControl>{{ lang.name }}
        </mat-option>
      </mat-select>-->
      <!-- Theme Switcher
      <button mat-icon-button id="schemeToggle" [style.overflow]="'visible'" matTooltip="Color Schemes"
        [matMenuTriggerFor]="themeMenu" class="topbar-button-right">
        <mat-icon>format_color_fill</mat-icon>
      </button>
      <mat-menu #themeMenu="matMenu">
        <mat-grid-list class="theme-list" cols="2" rowHeight="48px">
          <mat-grid-tile *ngFor="let theme of egretThemes" (click)="changeTheme(theme)">
            <div mat-menu-item [title]="theme.name">
              <div [style.background]="theme.baseColor" class="egret-swatch"></div>
              <mat-icon class="active-icon" *ngIf="theme.isActive">check</mat-icon>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-menu>-->
      <!-- Help / system tour -->
      <button *ngIf="isDesktopHome" mat-icon-button matTooltip="Ayuda" (click)="startSystemTour()"
        class="topbar-button-right tour-help-btn">
        <mat-icon>help_outline</mat-icon>
      </button>
      <!-- Notification toggle button -->
      <span *ngIf="user.isDev && !layout.isMobile" style="font-weight:500;">[{{user.email}}]</span>
      <button mat-icon-button matTooltip="Notifications" (click)="toggleNotific()" [style.overflow]="'visible'"
        class="topbar-button-right tour-notifications-btn">
        <mat-icon>notifications</mat-icon>
        <!--<span class="notification-number mat-bg-warn">3</span>-->
      </button>
      <!-- Top right user menu -->
      <button *ngIf="!layoutConf.isMobile" mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right mr-16 img-button tour-profile-btn">
        <img *ngIf="!user.isAlt" src="{{user.pictureURL}}" alt="" referrerpolicy="no-referrer">
        <mat-icon class="material-icons-outlined" *ngIf="user.isAlt">supervised_user_circle</mat-icon>
      </button>
      <ng-container *ngIf="layoutConf.isMobile">
        <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right mr-16 img-button">
          <img *ngIf="!user.isAlt" src="{{user.pictureURL}}" alt="" referrerpolicy="no-referrer">
          <mat-icon class="material-icons-outlined" *ngIf="user.isAlt">supervised_user_circle</mat-icon>
        </button>
      </ng-container>
      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item disabled class="account-menu-username">
          <mat-icon>account_circle</mat-icon>
          <span>{{user.name}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item *ngIf="!user.isAlt" [disabled]="admin.disableAltUserBtn()" (click)="admin.openAltUserDialog()">
          <mat-icon>people_alt</mat-icon>
          <span>Cambiar Usuario</span>
        </button>
        <button mat-menu-item *ngIf="user.isAlt" (click)="login.onOriLogin()">
          <mat-icon>person</mat-icon>
          <span>Mi Usuario</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="confirmLogout()" class="account-menu-logout">
          <mat-icon style="font-size: 18px;">
            logout
          </mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
