.btn-start-adj{
    width: 90px;
    margin-right: 0 !important;
    margin-left: 16px;
}

.btn-start-mob{
    width: 40px !important;
}

.account-menu-username {
    opacity: 1 !important;
    font-weight: 500;
}

.account-menu-logout {
    color: #f44336;

    mat-icon {
        color: #f44336;
    }
}

.module-sidenav-toggle-btn {
    background-color: #fff;
    border-radius: 50%;
    color: #333;
}
