
    
<div fxFill style="height: 500px;min-height: 320px;min-width: 100%;width: 100%; background:#f1f1f1;  background-color: #fff; ">
    <div class="stg-window base" fxLayout="column" style="height: 502.66666px;flex-direction: column;box-sizing: border-box;display: flex;">
        <stg-window-bar [title]="reportTitle" titleAlign="center center" fontSize="20px"></stg-window-bar>
         <div style="padding-top: 10px;   border-bottom: 1px solid;">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex="50" style="margin-left: 15px;">
                <h2>Data actualizada al : {{fechaMax}}</h2>
                 
            </div> 

            <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px" fxFlex="50" >
                 <button mat-button class="stg-btn-short" (click)="backToList()">
                    <span class="material-icons-outlined icon">arrow_circle_left</span>
                </button>
            </div>
        </div>
        <div fxFlexFill fxLayout="row"  style="padding-top: 2px;"> 
            <div fxLayout="row" fxFlex   >
                <div fxFlex="100"  > 
                    <div fxLayout="row wrap"    style="height: 70px;">
                        <div *ngIf="isTable>1" style="height: 800px;  background: #fff; padding-bottom: 50px; margin-right: 5px;margin-left: 5px; padding-top: 2px; width: 100%;"    fxFlex="100"    fxFlex.xs="100"  fxLayout.xs="column" >
                <div style="height: 800px;  background: #fff; padding-bottom: 50px; margin-right: 5px;margin-left: 5px; padding-top: 5px;width: 100%;height: 100%;"     *ngFor="let items of letfortable;let i = index"   fxFlex="25"    fxFlex.xs="100"    >
                    <stg-window-bar [title]="items.hdester  " titleAlign="center center" fontSize="20px" style="padding-top: 50px; margin-top: 50px;"></stg-window-bar> 
                 
                    <stg-table2   [options]="options" [dataSource]="dataSourceByHdester[items.hdester]" [headers]="headers" [optionsObserver]="optObs" style="padding-right: 0px;margin-right: 20px;" [loadingObs]="loadingObs"  >
                    </stg-table2>  
                
                </div>    
                        </div>
                        <div *ngIf="isTable==1" style="height: 610px;  background: #fff; padding-bottom: 50px; margin-right: 10px;margin-left: 10px; margin-top: 30px;" fxLayoutAlign="center center"    fxFlex="100"    fxFlex.xs="100"   >
                <div style="height: 610px;  background: #fff; padding-bottom: 50px; margin-right: 10px;margin-left: 10px; padding-top: 30px;"   fxLayoutAlign="center center"  *ngFor="let items of letfortable;let i = index"   fxFlex="33"    fxFlex.xs="100"   >
                    <img  src="assets/images/fc/modules/kaypacha/pumas-productivos1.png" style="width: 65%;height: 100%; ">
                </div>    
                <div style="height: 610px;  background: #fff; padding-bottom: 50px; margin-right: 10px;margin-left: 10px; padding-top: 5px;"     *ngFor="let items of letfortable;let i = index"   fxFlex="33"    fxFlex.xs="100"    >
                    <stg-window-bar [title]="items.hdester  " titleAlign="center center" fontSize="20px" style="padding-top: 50px; margin-top: 50px;"></stg-window-bar> 
                 
                    <stg-table2   [options]="options" [dataSource]="dataSourceByHdester[items.hdester]" [headers]="headers" [optionsObserver]="optObs" style="padding-right: 0px;margin-right: 20px;"  [loadingObs]="loadingObs" >
                    </stg-table2>   
                </div>    
                <div style="height: 610px;  background: #fff; padding-bottom: 50px; margin-right: 10px;margin-left: 10px; padding-top: 30px;"   fxLayoutAlign="center center"   *ngFor="let items of letfortable;let i = index"   fxFlex="33"    fxFlex.xs="100"   >
                      <img  src="assets/images/fc/modules/kaypacha/pumas-productivos.png" style="width: 65%;height: 100%; float:center;  text-align: center; display: flex; align-items: center;">  
                 
                </div>    
                        </div>
            
                    </div>
    
                </div>
                
        
        </div>
        
    </div> 
    
</div>   

<div fxFill style="padding-top: 640px;height: 100%; background-color: #fff; color: #035096; font-weight: 200;padding-left: 10px; " > 
    <span>Los resultados están <span style="font-weight: 700;">sujetos a cambios con el cruce de las variables anuales.</span>
    <br>
    Asimismo los ganadores serán los que hayan obtenido el <span  style="font-weight: 700;">mayor puntaje promedio de enero a diciembre 2026</span> en su categoría.
    <br>
    <span  style="font-weight: 700;">Las condiciones para ser premiado son:</span></span><br>
    <span>(1) Fecha de ingreso hasta el 01 de marzo del 2026</span><br>
    <span>(2) Presentar una calificación normal o sin calificación todo el 2026 y no estar sobre endeudado >10 su sueldo sin sustento.</span><br>
    <span>(3) Amonestaciones recurrentes y/o suspensiones generan penalización o exclusión.</span><br>
    <span>(4) No tener observaciones por las unidades de control: Auditoría, Riesgos, Control Interno.</span><br>
    <span>(5) No tener observaciones sobre quebrantamiento de nuestros valores o Código de Conducta.</span>
</div>

</div>  
 
 