<div class="text-center">
    <h6 class="m-0 pb-16" style="white-space: pre-wrap; line-height: 1.4;color: #035096;">Sesion MIS</h6>
    <div mat-dialog-content fxLayoutAlign="center center" fxLayout="column">
        <img src="assets/images/fc/avatars/mis_wait.png" alt="" style="width: 120px;height: 120px;">
        <div>
            <span>La sesión ha expirado.</span>
        </div>
        <div style="height: 10px;"></div>
        <div>
            <button mat-raised-button color="primary" (click)="actionPerformed()">Aceptar</button>
        </div>
    </div>

</div>
