<div>
        <div style="height: 10px;"></div>
        <div class="stg-panel">
          <div class="stg-window">
            <!--<stg-window-bar [title]="mainTitle"></stg-window-bar>
                  <stg-toolbar>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                          <button mat-button color="primary" (click)="save()" *ngIf="actSave">
                              <mat-icon>save</mat-icon><span style="padding-left: 5px;">Guardar</span>
                          </button>
                      </div>
                  </stg-toolbar>-->
            <div style="padding: 0.5rem;">
              <div style="position: relative;">
                <input type=text class="stg-input" placeholder="Buscar Cliente" (keyup)="filter($event)">
              </div>
            </div>
            <!-- <div class="demo-button-container">
                <button mat-raised-button  class="demo-button">
                  Add data
                </button>
                
              </div> -->
            <div style="padding: 0px 10px;"> 
                
              <mat-tab-group fxFlex style="overflow-y: auto;">
                
                <mat-tab label="Prospectos">
                  
                  <ng-template matTabContent>
                    <div style="height: 15px;"></div>
                    <stg-table [tableStyleConfig]="tableCfgStyle" [loadingStyleConfig]="loadingConf" [headersDef]="headerDefs"
                      [dataSource]="dataSource" [loadingObs]="loadingObs" [customComponentCell]="customComponent"
                      [customComponentStyler]="inputStyler" [metaSources]="tableMeta"
                      [actionTrigger]="action" [iconizerMap]="iconColMap">
                    </stg-table>
                    <ng-container *ngIf="showPaginator">
                      <stg-paginator #paginator [totalLenght]="dataSourceLenght" pageLenght="15"
                        (onChangePage)="changePage($event)">
                      </stg-paginator>
                    </ng-container>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
              
            </div>
            <div style="height: 10px;"></div>
            <div style="height: 50px;padding-left: 10px;padding-top: 15px;font-size: 12px;">
              
            </div>
          </div>
        </div>
      </div>