.monetizacion{
    background-color: black;
    color: white;
    text-align: center;
    size: 1.2em;
    font-weight: bold; 
    margin:0px;
    border: 0px;
    width: 10%;
    min-width: 115px;
    height: 36px;
}