.title{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.card{
    min-width: 125px;
    max-width: 125px;
    border: 1px solid rgb(47, 82, 153);
    text-align: center;
}

.name{
    //margin: 0.75rem;
    padding: 16px;
    padding-bottom: 0px;
    max-width: 147px;
}
