.base{
    background-color: white;
    color: navy;
}

.desk-1{
    font-size: 30px;
}

.mob-1{
    font-size: 18px;
}

.desk-2{
    font-size: 12px;
}

.mob-2{
    font-size: 8px;
}

.desk-3{
    padding-left: 10px;
}

.mob-3{
    padding-left: 5px;
}

.desk-4{
    width: 45px;
    height: 45px;
    font-size: 36px;
}

.mob-4{
    width: 45px;
    height: 45px;
    font-size: 36px;
}


