$base-color: #f4fafe;
$color-1: #125386;
$color-2: #2196f3;
$color-active: #3bd136;
//$color-inactive: #ccc;
$color-inactive: #e91e2f;
$color-disable: lightgrey;
$color-chip-u:#a0d2fa;
$color-chip-s:#BDBDBD;
$color-chip-g1:#e4858d;
$color-chip-g2:#64ef5f;
$color-chip-g3: lightgrey;